BasedOnStyle: LLVM
AlignArrayOfStructures: None
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: None
AlignConsecutiveBitFields: Consecutive
AlignConsecutiveMacros: AcrossEmptyLinesAndComments
AlignTrailingComments: true
AlignEscapedNewlines: Left
AllowShortBlocksOnASingleLine: Never
AllowShortEnumsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
BreakBeforeBraces: Linux
IndentWidth: 4
ColumnLimit: 100
SortIncludes: false
KeepEmptyLinesAtTheStartOfBlocks: false
PointerBindsToType: true
SpacesBeforeTrailingComments: 1
TabWidth: 4
UseTab: Never
IndentPPDirectives: BeforeHash
SpaceBeforeParens: NonEmptyParentheses
PenaltyBreakAssignment: 400
PenaltyBreakOpenParenthesis: 900
PenaltyBreakBeforeFirstCallParameter: 900
Cpp11BracedListStyle: false
